@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-image: linear-gradient(#181818, #20202085);
}
header{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;  
    background-color: #181818;
    box-shadow: 10px 10px 8px #20202085;  
}
a{
    text-decoration: none;       
}
h1{ 
    position: relative;
    display: block;
    color: #fff;
    padding: 10px;
    margin-left: 15px;
}    
ul{
    position: relative;
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    margin: 0 15px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
    transition-delay: 0.5s;
}
ul li a:hover,  h1:hover{
    color: rgba(255,255,255,0.1);
    transition-delay: 0s;
}
ul li a:before, h1:before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 1;
    text-align: center;
    font-size: 0.35em;
    color: #3bffe8;
    text-shadow: 0 0 10px #3bffe8,
    0 0 30px #3bffe8,
    0 0 80px #3bffe8;
    font-weight: 500;
    letter-spacing: 40px;
    opacity: 0;
    transition: 0.5s;
}
ul li:hover a:before, .title a:hover h1:before{
    opacity: 1;
    transition-delay: 0.5s;
    letter-spacing: 6px;
}